<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Game Title</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="eg. Minecraft"
                    name="Name" 
                    value="<%= Book.Name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Developer/Studio</label>
                    <input type="text" class="form-control"
                    id="authorTextField"
                    placeholder="eg. EA"
                    name="Author" 
                    value="<%= Book.Author %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Release Year</label>
                    <input type="text" class="form-control"
                    id="publishedTextField"
                    placeholder="eg. 2021"
                    name="Published" 
                    value="<%= Book.Published %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextArea">Comments</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Your thoughts on the game"
                    name="Description" 
                    required>
                    <%= Book.Description %>
                    </textarea>
                </div>

                <div class="form-group">
                    <label for="priceTextField">Rating out of 10</label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="..."
                    name="Price" 
                    value="<%= Book.Price %>"
                    required>
                </div>

                <button class="btn btn-success" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/games" class="btn btn-danger">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>


<%- include ../partials/bottom.ejs %>  

<%- include ../partials/footer.ejs %>