<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><% title %> </h1>  
            <a href="/games/add" class="btn btn-danger" 
            role="button"><i class="fas fa-plus-circle"></i> New Game</a>      
        <br>
        <table class="table table-danger table-bordered table-striped table-hover">
            <tr class="d-flex">
                <th class="text-center col-2">Game Title</th>
                <th class="text-center col-2">Developer/Studio</th>
                <th class="text-center col-1">Release Year</th>
                <th class="text-center col-4">Comments</th>
                <th class="text-center col-1">Rating 1-10</th>
                <th class="text-center col-1">Edit</th>
                <th class="text-center col-1">Delete</th>
            </tr>
            <% for(let count=0;count<BookList.length;count++) { %>    
            <tr class="d-flex">
                <td class="text-center col-2"><%= BookList[count].Name %></td>
                <td class="text-center col-2"><%= BookList[count].Author %></td>
                <td class="text-center col-1"><%= BookList[count].Published %></td>
                <td class="text-center col-4"><%= BookList[count].Description %></td>
                <td class="text-center col-1"><%= BookList[count].Price %></td>
                <td class="text-center col-1">
                    <a href="/games/edit/<%= BookList[count]._id %>" 
                        class="btn btn-secondary btn-sm">
                        <i class="fas fa-pencil-alt"></i> Edit Entry
                    </a>
                </td>
                <td class="text-center col-1">
                    <a href="/games/delete/<%= BookList[count]._id %>" 
                        class="btn btn-danger btn-sm">
                        <i class="fas trash-alt"></i> Delete Entry
                    </a>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
    </div>
</main>
<% include ../partials/bottom.ejs %>
<% include ../partials/footer.ejs %>