<!--head partial-->
<%- include /partials/head.ejs -%> 

  <body>
    <header>
     
     <%- include /partials/navbar.ejs -%>   
    </header>
    <!--main section-->
    <div class="container-fluid">
        <section>

            <h1>Welcome to the <%= title %> Page</h1>
            <!--Content partials-->
            <% if (title == "About Me"){ %>
                <%- include /partials/about.ejs -%>
            <% } %>
            <% if (title == "My Projects"){ %>
                <%- include /partials/projects.ejs -%>
            <% } %>
            <% if (title == "Contact Me"){ %>
                <%- include /partials/contact.ejs -%>
            <% } %>
        </section>
    </div>
    <!--Footer partial-->
    <% include /partials/footer.ejs %>
</body>
</html>
